/**
 * Site header
 */
 @font-face {
     font-family: "nms";
     src: url("/static/geonms-webfont.woff") format('woff');
 }

.site-header {
    border-top: 5px solid black;
    border-bottom: 1px solid $brand-color;
    background-color: $header-footer-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    text-transform: uppercase;
    font-family: nms;
    color: $brand-color;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2em;

    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

}

.site-nav {
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.2em;


    font-size: 24px;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
      text-transform: uppercase;
      font-family: nms;
      color: $brand-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    align-content: center;
    text-transform: uppercase;
    font-family: nms;
    color: $brand-color;
    letter-spacing: 0.2em;

    border-top: 1px solid $brand-color;
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: $header-footer-color;
}

.footer-heading {
    font-size: 18px;
}

.footer-col-wrapper {
    font-size: 15px;

    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
    text-align: center;
    float: none;
}

.footer-col-1 {
    width: -webkit-calc(10% - (#{$spacing-unit} / 2));
    width:         calc(10% - (#{$spacing-unit} / 2));
    float: left;
    text-align: left;
}

.footer-col-2 {
    width: -webkit-calc(90% - (#{$spacing-unit} / 2));
    width:         calc(90% - (#{$spacing-unit} / 2));
    float: right;
    text-align: right;
    white-space:nowrap;
}



@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        text-transform: uppercase;
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: $brand-color;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0.2em;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  font-weight: 400;
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.home {
  border-radius: 25px;
  border-color: $brand-color;
  border-width: thin;
  border-style: solid;
  padding: 20px;
  background-color: black;
}

.post {
  border-radius: 25px;
  border-color: $brand-color;
  border-width: thin;
  border-style: solid;
  padding: 20px;
  background-color: black;
}
